.navbarContainer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  align-items: center;

  a{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding-right: 2rem;
    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
}